html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #0e0e0e;
}

h1 {
  color: white;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.5rem;
}
.container {
  display: flex;
  justify-content: center;
}

.backgroundImage {
  position: relative;
  width: 30%;
}

img[src="https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"]
{
  max-width: 100%;
  height: 100vh;
}

img[src="https://cdn.statically.io/gh/TheOdinProject/curriculum/5f37d43908ef92499e95a9b90fc3cc291a95014c/html_css/project-sign-up-form/odin-lined.png"]
{
  width: 100px;
  height: 100px;
}

.logo {
  position: absolute;

  top: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 50%;
  width: 100%;
}

.description {
  height: 33.3%;
  background-color: hsl(0, 0%, 90%);
}
.formfield {
  display: flex;
  align-items: center;
  height: 33.3%;
  background-color: white;
  font-size: 1.2rem;
  background-color: grey;
}

.login {
  height: 33.3%;
  background-color: hsl(0, 0%, 90%);
  font-size: 1.2rem;
}

.container2 {
  width: 49%;
}

.btn {
  background-color: #596d48;
  color: white;
  font-weight: bolder;
}

input {
  border-color: #e5e7eb;
}

input:focus {
  border-color: blue;
  box-shadow: 1px 2px;
}

input:invalid {
  border-color: red;
}

form.form {
  display: flex;
}

.field2 {
  position: relative;
  left: 100px;
  margin-top: 20px;
}

.field {
  position: relative;
  left: 20px;
  margin-top: 20px;
}

p1 {
  font-weight: bolder;
  position: relative;
  top: 100px;
  left: 20px;
  font-size: 1.2rem;
}

p2 {
  font-weight: bolder;
  position: relative;
  top: 10px;
  left: 20px;
  font-size: 1.6rem;
}

.btn {
  font-size: 1.6rem;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px 10px 10px 10px;
}

p3 {
  position: relative;
  left: 20px;
}

a {
  position: relative;
  left: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

